/*blue #000C85*/
/*orange #FFA400*/
/*light blue #91BED4*/

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "ropa sans", arial, sans-serif;
	font-weight: bold;
	font-size: 1.5em;
}

h2 {
	text-align: center;
	color: #FFA400;
	font-family: oswald, sans-serif;
	text-transform: uppercase;
}

section {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 50px;
}

p {
	letter-spacing: 0.05em;
}

/****** nav bar ************/

nav {
	/*background-color: white;*/
	text-align: center;
	position: fixed;
	width: 100%;
	font-family: oswald, sans-serif;
	text-transform: uppercase;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
}

nav a {
	text-decoration: none;
	color: #000C85;
	display: block;
	padding: 5px 0;
}

nav a:hover {
	background-color: #000C85;
	color: white;
}

nav h1 {
	margin: 0;
	padding: 10px 0;
	font-family: oswald, sans-serif;
	text-transform: uppercase;
	line-height: 0.80em;
	color: #000C85;
	font-weight: bolder;
}

/*.nav_fix {
	width: 100%;
	height: 52px;
	clear: both;
	display: none;
}*/

#menu_icon div {
    width: 25px;
    height: 4px;
    background-color: #FFA400;
    margin: 5px 0;
}

.menu_hide {
	display: none;
}

#nav_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main_header {
	margin-right: 20px;
	padding: 0;
	display: none;
}

#menu_icon {
	margin: 10px;
}

.menu_show {
	background-color: white;
	display: initial;
}


/****** main header ************/

header#top {
	text-align: center;
	background-color: #000C85;
	background-image: url("../images/header_photo.jpg");
	background-size: cover;
	background-position: center;
	color: white;
	text-shadow: 2px 2px 8px #000;
}

header#top h1 {
	margin: 0;
	padding: 30px 0;
	font-family: oswald, sans-serif;
	text-transform: uppercase;
	line-height: 0.80em;
	font-weight: bolder;
}

header#top h1 span {
	font-weight: lighter;
	font-family: oswald, sans-serif;
	font-size: 0.60em;
	font-weight: lighter;
}

header#top img {
	margin-bottom: 30px;
	border: 3px solid white;
}


/********** Useful Links ************/


#list_useful_links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
}

.each_useful_link {
	display: flex;
	width: 100%;
	margin: 5px;
	padding: 15px;
	flex-direction: column;
}

.each_useful_link a {
	margin: 0 auto;
}

/********** Blog ********************/

#blog article {
	text-align: center;
}


/************ Projects **************/

#projects {
	text-align: center;
}



/************ Footer ****************/


footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #000C85;
	align-items: center;
}

footer p {
	color: white;
}

#social_media_links {
	display: flex;
	align-items: center;
}

footer a {
	margin-right: 11px;
}



/*****************************

Media Quieries

*****************************/

@media (min-width: 750px) {
	.navigation {
		background-color: white;
		width: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: flex-end;
	}

	.menu_hide {
		display: initial;
		margin-right: 20px;
	}

	.menu_hide li {
		display: inline-block;
	}

	.menu_hide a {
		padding-right: 10px;
		padding-left: 10px;
	}

	#menu_icon {
		display: none;
	}

	div.nav_fix {
	width: 100%;
	height: 46px;
	clear: both;
	}

	#top {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	#top img {
		order: -1;
		margin: 50px;
		height: auto;
		width: 25%;
	}

	#top h1 {
		font-size: 4em;
		width: 50%;
	}

	#top span {
		color: #FFA400;
	}

	h2 {
		text-align: left;
	}

	#list_useful_links {
		flex-direction: row;
		justify-content: space-around;
	}

	.each_useful_link {
		width: 40%;
	}
}